#MainMenu {
    display: none !important;
}

.stMainBlockContainer {
    padding-top: 55px !important;
}

.st-key-chat_input .stChatInput {
    font-size: large !important;
    font: 500 !important;
    text-align: center !important;
}


[data-testid="stChatMessageContent"] p {
    font-size: 17px !important; 
    font-weight: 500 !important;
}


[data-testid="stChatMessage"] img {
    width: 32px !important;
    height: 32px !important;
}


[data-testid="stChatInputSubmitButton"] svg {
    color: blue !important;
    width: 27px !important;
    height: 90% !important;
}

[data-testid="stChatInputTextArea"] {
    font-size: 18px !important; 
    font-weight: 500 !important;
}

.st-key-center-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 15px;
}
.sidebar-container img {
    height: 40px;
    margin-bottom: 25px;
}


.button-row {
    display: flex;
    position: absolute;
    top: -2.65rem;
    right: 0.5rem;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    position: relative;
    left: -0.5rem;
    flex-direction: column;
    
    h1 {
        position: relative;
        top: -5px;
        font-size: 2.5rem;
        font-weight: 800;
    }
    a {
        position: relative;
        top: -1.2rem;
        text-underline-position: above;
        text-decoration: none;
        color: #000000;
    }
}


@media screen and (max-width: 768px) {
  .st-key-center-1 {
    margin-left: 16px !important;  
  }

  .stMainBlockContainer {
    padding-top: 10px !important;
  }

  .st-key-center-1 .stImage {
    display: none;
  }
  .st-key-center-1 .stVerticalBlockBorderWrapper {
    display: none;
  }
}